[Desktop Entry]
Comment=Fetch a new wallpaper every X minutes
Exec=wallpaper-roulette 1200 default
Icon=preferences-desktop-wallpaper
Name=Random Wallpaper
Terminal=false
Type=Application
